<!--
创建一个 
车体长0.2m  宽0.12 高0.07  
车轮半径 0.025m 宽0.02m 离地间距 0.15m

1.设置base_footprint_link 作为初始化link
2.设置base_link 作为底盘link
使用joint关联
设置车轮
车轮与base_link 通过joint关联
实现其他车轮
 -->

<robot name="my_car">
    <!-- 设置初始化link -->
    <link name="base_footprint_link">
        <visual>
            <geometry>
                <sphere radius="0.001"/>
            </geometry>
        </visual>
    </link>
 
    <!-- 设置底盘link -->
    <link name="base_link">
        <visual>
            <geometry>
                <box size="0.2 0.12 0.07"/>
            </geometry>
            <material name="red">
                <color rgba="1 0 0 0.5"/>
            </material>
        </visual>
    </link>

    <!-- 设置车轮link -->
    <link name="wheel_link">
        <visual>
            <geometry>
                <cylinder radius="0.025" length="0.02"/>
            </geometry>
            <material name="black">
                <color rgba="0 0 0 0.5"/>
            </material>
        </visual>
    </link>


    <!-- base_link与base_footprint_link的关节 -->
    <joint name="base_link2footprint" type="fixed">
    <!-- 连接的两个link 父标签为footprint_link 子标签为base_link 固定类型 -->
        <parent link="base_footprint_link"/>
        <child link="base_link"/>
    <!-- 关节的原点位置 平移量旋转度   上移  0.07除以2+0.15 -->
        <origin xyz="0.0 0.0 0.05" rpy="0 0 0"/>
    </joint>



 </robot>

    
